
{{!-- 
<div class="login-box">

 <h1>Login</h1>
 
 <form  id="form" class="topBefore"action="/login" method="POST">
 <div class ="textbox">
   <i class="fa fa-user" aria-hidden="true"></i>


<input type="text" placeholder="Username" name="username" value="">
 </div>

 <div class ="textbox">
   <i class="fa fa-lock" aria-hidden="true"></i>
<input type="text" placeholder="Password" name="" value="">
 </div>
   
   <input class = "btn" type="button" nmae="password" value="Sign In">
   <button class ="btn"type="submit">Submit</button>
   </form>
</div>
 --}}













 <form  id="form" class="topBefore"action="/login" method="POST">
      <h6 >Username</h6>
      <input type="text" name="username">
      <h6>Password:</h6> 
      <input type="text" name="password">
      <button type="submit">Submit</button>
    </form>

