

<div class="login-box">

 <h1>Login</h1>

 <div class ="textbox">
<input type="text" placeholder="Username" name="" value="">
 </div>

 <div class ="textbox">
<input type="text" placeholder="Password" name="" value="">
 </div>
   
   <input type="button" nmae="" value="">
</div>














 <form  id="form" class="topBefore"action="/login" method="POST">
      <h6 >Username</h6>
      <input type="text" name="username">
      <h6>Password:</h6> 
      <input type="text" name="password">
      <button type="submit">Submit</button>
    </form>

