<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>VIEWS</div>
      <div class='subtitle'>Creative space for Creators</div>

 <form  id="form" class="topBefore" action="/login" method="POST">
      <div class='input-fields'>
        <input  class='input-linee full-width' type="text" placeholder="Username" name="username" >
        {{!-- <input type='password' placeholder='Password' class='input-line full-width'></input> --}}
        <input class='input-linee full-width' type="text" placeholder="Password" name="password">
      </div>
      
        <input class='input-lineee full-width' type="submit" value="Login">
        <div class='spacing'>Don't have an account? <a href="/signup"class='highlight'>Sign up</a></div>
</form>

    </div>
  </div>
</div>
