

<div class="login">

  <h7>WELCOME BACK<span>- ITS SO GOOD TO HAVE YOU BACK -</span></h7>
    <form  id="form" class="topBefore"action="/login" method="POST">
      <h6 >Username</h6>
      <input type="text" name="username">
      <h6>Password:</h6> 
      <input type="text" name="password">
      <button type="submit">Submit</button>
    </form>
</div>