

  <form action="/comments">
  Title:
  <input type="text" name="title">

  ImageURL: 
  <input type="text" name="imageURL">

  Interest:
  <input type="text" name="interest">

  Message:
  <input type="text" name="message">

  Date:
 <input id="today" type="date" name="">
 
  </form>