<div class="login">












		<header>CREATE ACCOUNT</header>

<form action ="./signup"id="form" class="topBefore"method="POST">
		
		  <input  name="username" id="name" type="text" placeholder="NAME">
		  <input name="email" id="email" type="text" placeholder="E-MAIL">
      <input name="blogURL" id="blogURL" type="text" placeholder="BLOG-URL">
      <input name="profilePic" id="ProfilePic" type="text" placeholder="ProfilePic">
      <input name="password" id="password" type="text" placeholder="PASSWORD">
      <input name="theme" id="theme" type="text" placeholder="THEME">
		  
  <input id="submit" type="submit" value="SIGNUP">
  
</form>

  
</div>

