<div class="login">




<form action="/signup" method="POST">
Username:
<input type="text" name="username">
<br>
Password:
<input type="password" name="password">
<br>
Email:
<input type="email" name="email">
<br>
BlogUrl:
<input type="text" name="blogURL">
<br>
Profile Picture URL:'
<input type="text" name="profilePic">
<br>
Theme:'
<input type="text" name="theme">
<br>


<button type="submit">Submit</button>
</form>

  
</div>

