<form action="/signup" method="POST">
Username:
<input type="text" name="username">
Password:
<input type="password" name="password">
Email:
<input type="email" name="email">
BlogUrl:
<input type="text" name="blogURL">
Profile Picture URL:'
<input type="text" name="profilePic">
Theme:'
<input type="text" name="theme">


<button type="submit">Submit</button>
</form>

