// .info {
// 	padding-top: 100px;
// }
// /* header */
// .header {
// 	background-color: #fff;
// 	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
// 	position: fixed;
// 	width: 100%;
// 	z-index: 3;
// }
// .header ul {
// 	margin: 0;
// 	padding: 0;
// 	list-style: none;
// 	overflow: hidden;
// 	background-color: #fff;
// }
// .header li a {
// 	display: block;
// 	padding: 20px 20px;
// 	border-right: 1px solid #f4f4f4;
// 	text-decoration: none;
// }
// .header li a:hover,
// .header .menu-btn:hover {
// 	background-color: #f4f4f4;
// }
// .header .logo {
// 	display: block;
// 	float: left;
// 	font-size: 2em;
// 	padding: 10px 20px;
// 	text-decoration: none;
// }
// /* menu */
// .header .menu {
// 	clear: both;
// 	max-height: 0;
// 	transition: max-height .2s ease-out;
// }
// /* menu icon */
// .header .menu-icon {
// 	cursor: pointer;
// 	display: inline-block;
// 	float: right;
// 	padding: 28px 20px;
// 	position: relative;
// 	user-select: none;
// }
// .header .menu-icon .navicon {
// 	background: #333;
// 	display: block;
// 	height: 2px;
// 	position: relative;
// 	transition: background .2s ease-out;
// 	width: 18px;
// }
// .header .menu-icon .navicon:before,
// .header .menu-icon .navicon:after {
// 	background: #333;
// 	content: '';
// 	display: block;
// 	height: 100%;
// 	position: absolute;
// 	transition: all .2s ease-out;
// 	width: 100%;
// }
// .header .menu-icon .navicon:before {
// 	top: 5px;
// }
// .header .menu-icon .navicon:after {
// 	top: -5px;
// }
// /* menu btn */
// .header .menu-btn {
// 	display: none;
// }
// .header .menu-btn:checked ~ .menu {
// 	max-height: 240px;
// }
// .header .menu-btn:checked ~ .menu-icon .navicon {
// 	background: transparent;
// }
// .header .menu-btn:checked ~ .menu-icon .navicon:before {
// 	transform: rotate(-45deg);
// }
// .header .menu-btn:checked ~ .menu-icon .navicon:after {
// 	transform: rotate(45deg);
// }
// .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
// .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
// 	top: 0;
// }
// /* 48em = 768px */
// @media (min-width: 48em) {
// 	.header li {
// 		float: left;
// 	}
// 	.header li a {
// 		padding: 20px 30px;
// 	}
// 	.header .menu {
// 		clear: none;
// 		float: right;
// 		max-height: none;
// 	}
// 	.header .menu-icon {
// 		display: none;
// 	}
// }
// /* section */
// .section {
// 	overflow: hidden;
// 	margin: auto;
// 	max-width: 1400px;
// }
// .section a {
// 	position: relative;
// 	float: left;
// 	width: 100%;
// }
// .section a img {
// 	width: 100%;
// 	display: block;
// }
// .section a span {
// 	color: #fff;
// 	position: absolute;
// 	left: 5%;
// 	bottom: 5%;
// 	font-size: 2em;
// 	text-shadow: 1px 1px 0 #000;
// }
// .section-split a span {
// 	display: none;
// }
// .section-split a:hover span {
// 	display: block;
// }
// /* 48em = 768px */
// @media (min-width: 48em) {
// 	.section-split a {
// 		width: 50%;
// 	}
// }
///////////////////////////////PARALLAX ANIMATIONS//////////////////////////////////////////////////////////////
h3 {
    background-color: rgba(36, 36, 39, 0.9);
    color: white;
    margin: 0 auto;
}

.parallax {
    background-image: url("../images/parrallax.jpeg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("../images/second.jpeg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para {
    height: 400px;
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 36px;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/////////////////////////////////////////LOGIN ANIMATIONS/////////////////////////////////////////////////////
.login {
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(36, 36, 39, 0.7), rgba(96, 96, 97, 0.5), rgba(28, 32, 34, 0.5), rgba(0, 0, 0, 0.5)) 0 0 / 1000% no-repeat, url(https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 0 0 / cover no-repeat;
    -webkit-animation: gradientAnimation 40s ease infinite;
    animation: gradientAnimation 40s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}

h7 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font: normal 600 72px/1 'Open Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
}

h7 span {
    display: block;
    margin-top: 1em;
    font-size: 40px;
    font-weight: 300;
}

/////////////////////////////NAVBAR BUTTON//////////////////////////////
body {
    text-align: center;
}

.box-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: white;
    width: 30%;
    border-radius: 30px;
    transition: .2s all;
}

.box-wrap:hover .box {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.box-wrap:hover .box:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

///////////////////////////////////SIGN UP FORM////////////////////////
// input::-webkit-input-placeholder,
// textarea::-webkit-input-placeholder {
//     color: #aca49c;
//     font-size: 0.875em;
// }
// input:focus::-webkit-input-placeholder,
// textarea:focus::-webkit-input-placeholder {
//     color: #bbb5af;
// }
// input::-moz-placeholder,
// textarea::-moz-placeholder {
//     color: #aca49c;
//     font-size: 0.875em;
// }
// input:focus::-moz-placeholder,
// textarea:focus::-moz-placeholder {
//     color: #bbb5af;
// }
// input::placeholder,
// textarea::placeholder {
//     color: #aca49c;
//     font-size: 0.875em;
// }
// input:focus::placeholder,
// textarea::focus:placeholder {
//     color: #bbb5af;
// }
// input::-ms-placeholder,
// textarea::-ms-placeholder {
//     color: #aca49c;
//     font-size: 0.875em;
// }
// input:focus::-ms-placeholder,
// textarea:focus::-ms-placeholder {
//     color: #bbb5af;
// }
// /* on hover placeholder */
// input:hover::-webkit-input-placeholder,
// textarea:hover::-webkit-input-placeholder {
//     color: #e2dedb;
//     font-size: 0.875em;
// }
// input:hover:focus::-webkit-input-placeholder,
// textarea:hover:focus::-webkit-input-placeholder {
//     color: #cbc6c1;
// }
// input:hover::-moz-placeholder,
// textarea:hover::-moz-placeholder {
//     color: #e2dedb;
//     font-size: 0.875em;
// }
// input:hover:focus::-moz-placeholder,
// textarea:hover:focus::-moz-placeholder {
//     color: #cbc6c1;
// }
// input:hover::placeholder,
// textarea:hover::placeholder {
//     color: #e2dedb;
//     font-size: 0.875em;
// }
// input:hover:focus::placeholder,
// textarea:hover:focus::placeholder {
//     color: #cbc6c1;
// }
// input:hover::placeholder,
// textarea:hover::placeholder {
//     color: #e2dedb;
//     font-size: 0.875em;
// }
// input:hover:focus::-ms-placeholder,
// textarea:hover::focus:-ms-placeholder {
//     color: #cbc6c1;
// }
header {
    position: relative;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}

// input {
//     font-family: 'Lato', sans-serif;
//     font-size: 0.875em;
//     width: 470px;
//     height: 50px;
//     padding: 0px 15px 0px 15px;
//     background: transparent;
//     outline: none;
//     color: black;
//     border: solid 1px rgb(0, 0, 0);
//     border-bottom: none;
//     transition: all 0.3s ease-in-out;
//     -webkit-transition: all 0.3s ease-in-out;
//     -moz-transition: all 0.3s ease-in-out;
//     -ms-transition: all 0.3s ease-in-out;
// }
// input:hover {
//     background: #5e0909;
//     color: #e2dedb;
// }
textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
}

#submit {
    width: 300px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    outline: none;
    cursor: pointer;
    border: solid 11px #b3aca7;
}

#submit:hover {
    color: #e2dedb;
}

@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.login-box {
    width: 280px;
    position: absolute;
    ;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid black;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px, 0;
    margin: 8px, 0;
    border-bottom: 1px solid black;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}