@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
h3 {
  background-color: rgba(36, 36, 39, 0.9);
  color: white;
  margin: 0 auto; }

.parallax {
  background-image: url("../images/parrallax.jpeg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax2 {
  background-image: url("../images/second.jpeg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.para {
  height: 400px;
  background-color: #1b1b1b;
  color: white;
  font-size: 36px; }

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll; } }

.login {
  height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(36, 36, 39, 0.7), rgba(96, 96, 97, 0.5), rgba(28, 32, 34, 0.5), rgba(0, 0, 0, 0.5)) 0 0/1000% no-repeat, url(https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 0 0/cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite; }

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0; }
  50% {
    background-position: 100% 70%, 0 0; }
  100% {
    background-position: 0% 30%, 0 0; } }

@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0; }
  50% {
    background-position: 100% 70%, 0 0; }
  100% {
    background-position: 0% 30%, 0 0; } }

h7 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 600 72px/1 'Open Sans', sans-serif;
  text-align: center;
  white-space: nowrap; }

h7 span {
  display: block;
  margin-top: 1em;
  font-size: 40px;
  font-weight: 300; }

body {
  text-align: center; }

.box-wrap {
  display: flex;
  align-items: center;
  justify-content: center; }

.box {
  background: white;
  width: 30%;
  border-radius: 30px;
  transition: .2s all; }

.box-wrap:hover .box {
  filter: blur(3px);
  opacity: .5;
  transform: scale(0.98);
  box-shadow: none; }

.box-wrap:hover .box:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125); }

header {
  position: relative;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px; }

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto; }

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

textarea:hover {
  background: #b3aca7;
  color: #e2dedb; }

#submit {
  width: 300px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline: none;
  cursor: pointer;
  border: solid 11px #b3aca7; }

#submit:hover {
  color: #e2dedb; }

.login-box {
  width: 280px;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%); }

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid black;
  margin-bottom: 50px;
  padding: 13px 0; }

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px, 0;
  margin: 8px, 0;
  border-bottom: 1px solid black; }

.textbox i {
  width: 26px;
  float: left;
  text-align: center; }

/*# sourceMappingURL=style.css.map */