 <div class="info"><p>
  Groomer's search Engine <br>
  Two carousels sync with grommers best reviewed comments <br>
  Parallax <br>
  Div with features of the website <br>
  Parallax <br>
  footer <br>
  Div
 </p>

 </div>


<div class="info"><p>Info</p></div>