<div class="parallax"><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>VIEWS</h1></div>

<div class="para">
<h1>WELCOME TO VIEWS</h1>
<h5>this is the best place to share ideas opinions and over all views!
  your are one of kind and the world would not be the same without you!
  debitis beatae unde aliquam dolorem ratione iure rerum, reprehenderit
</h5>
</div>

<h1>SECOND PARAGRAPH</h1> 

<div class="parallax2"></div>

<div class="para">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis modi itaque debitis beatae unde aliquam dolorem ratione iure rerum, reprehenderit nesciunt quidem qui illum maxime natus ut corporis corrupti! Earum?
</div>






 

