<form action="/blogs/creation" method="POST">


<p>Title</p>
<input type="text" name="theTitle">

<br>
<p>imgUrl</p>
<input type="text" name="theimageUrl">



<p>Interest</p>
<input type="text" name="theInterest">


<p>Message</p>
<input type="text" name="theMessage">


<button class="button">Save</button>

</form>