<form action="/blogs/editblogs/{{blog._id}}" method="POST" >
	imageURL 
  <input type="text" name="imageURL">
	interest 
  <input type="text" name="interest">

	title 
	<input type="text" name="title">
	message 
	<input type="text" name="message">
	<button>Submit</button>
</form>