<form action="/blogs/edit/:id" method="POST">


<p>Title</p>
<input type="text" name="title">

<br>
<p>imgUrl</p>
<input type="text" name="imageURL">



<p>Interest</p>
<input type="text" name="interest">


<p>Message</p>
<input type="text" name="message">


<button class="button">Save</button>

</form>