<div class='bold-linee'>




</div> 





{{!-- <div class='containerr'> --}}
  <div class='windoww'>
                      <div class='overlayy'>
                      </div>
    <div class='overlayy'>
      <div class='welcome'>YOU'RE BACK</div>
                      <div class='subtitle'>Can't wait to read your article.
                        
                      </div>
      <div class='input-fields'>

                    <form action="/new-blog"  class='input-line full-width' id="form" method="POST" enctype="multipart/form-data">
                        <input  class='input-line full-width' name="title" id="name" type="text" placeholder="BLOG TITLE">
                        {{!-- <input  class='input-line full-width' name="interest" id="name" type="text" placeholder="TOPIC INTEREST"> --}}
                        <input  class='input-line' type="file" name="blogphoto" placeholder="BLOG IMAGE">
                                  {{!-- <input class='input-line full-width' name="message" id="message" type="text" placeholder="BLOG POST MESSAGE"> --}}
                        <select name="interest">
                        <br>      
                        <option value="" selected disabled > Please Select One </option>

                        {{!-- the array of authors gets pulled from the Database  --}}
                        <option value="Health"> Health </option>
                        <option value="Science"> Science </option>
                        <option value="Sports"> Sports </option>
                        <option value="Politics"> Politics </option>
                        <option value="Celebrities"> Celebrities </option>
                        <option value="Movies"> Movies </option>
                        <option value="Opinion"> Opinion </option>
                        <option value="The more you know"> The more you know </option>

                        </select>


                     <textarea  placeholder="BLOG MESSAGE HERE....." name="message" id="message" type="text" class='input-line full-width'></textarea>
                    <button class='ghost-round full-width' id="submit" type="submit" value="POST YOUR BLOG">POST YOUR BLOG</button>
                      </form>
                      </div>
     </div>
  </div>
  
</div>


