


<form action="/new-blog" method="POST" enctype="multipart/form-data">


<p>Title</p>
<input type="text" name="title">

<br>
<label> Blog Photo </label>
 <input  type="file" name="blogphoto">



<p>Interest</p>
<input type="text" name="interest">


<p>Message</p>
<input type="text" name="message">


<button class="submit"> Save </button>

</form>


